{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/DestinationDetail.css' %}" />
{% endblock %} 
{% block content %}

    <div class="page-header">
        <h1>{{ destination.city }} Restaurants</h1>
        <img src="{% static '' %}" alt="" />
    </div>
    <ul>
        {% for restaurant in destination.restaurants.all %}
            <li>
                <strong>{{ restaurant.name }}</strong> - {{ restaurant.cuisine }} <br>
                Price: {{ restaurant.get_price_display }} | Status: {{ restaurant.get_visit_display }}
                <a href="{% url 'edit-restaurant' pk=restaurant.pk %}">✏️ Edit</a>
            </li>
        {% empty %}
        <li>No restaurants found for this destination.</li>
      {% endfor %}
    </ul>
    <div class="links">
        <a href="{% url 'destination-list' %}">Back to Destinations</a>
        <a href="{% url 'add-restaurant' pk=destination.pk %}">➕ Add a Restaurant</a>
        <a href="{% url 'edit-destination' pk=destination.pk %}">✏️ Edit Destination</a>
    </div>
{% endblock %}