{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/DestinationIndex.css' %}" />
{% endblock %} 
{% block content %}
    <div class="page-header">
        <h1>Destinations</h1>
    </div>
    <ul>
        {% for destination in destinations %}
            <li>
                <a href="{% url 'platepick-detail' destination.pk %}">{{ destination.city }}</a>
            </li>
        {% empty %}
            <li>No destinations available.</li>
        {% endfor %}
    </ul>
{% endblock %}