{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/editDestination.css' %}" />
{% endblock %} 
{% block content %}

    <div class="page-header">
        <h1>Edit Destination {{ destination.city }}</h1>
        <img src="{% static '' %}" alt="" />
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    <div class = "cancel">
        <a href="{% url 'platepick-detail' pk=object.pk %}">Cancel</a>
    </div>
{% endblock %}