



<div class="restaurant-container">
    <section class="restaurants">
      <div class="subsection-title">
        <h2>Restaurant Details</h2>
        <img
          src="{% static '' %}"
          alt=""
        />
        <img src="{% static '' %}" alt="" />
        <img
          src="{% static '' %}"
          alt=""
        />
      </div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for restaurant in destination.restaurant_set.all %}
            <tr>
              <td>{{restaurant.date}}</td>
              <!-- <td>{{restaurant.get_restaurant_display}}</td>  dont need this? -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
  <h3>Add a Restaurant</h3>
    <form method="post" class="subsection-content" autocomplete="off">
    {% csrf_token %} 
    {{ restaurant_form.as_p }}
    <button type="submit" class="btn submit">Add Restaurant</button>
    </form>

  {% endblock %}
  