{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

{% block navigation %}


{% if user.is_authenticated %}
    <li><a href="{% url 'platepick-create' %}">Add a Destination</a></li>
    <li><a href="{% url 'destination-list' %}">Destinations</a></li>
    <li>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    </li>
{% else %}
    <li><a href="{% url 'Landing-Page' %}">Login</a></li>
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Welcome to PlatePick</h1>
  <p>Your Personal Guide to Culinary Adventures</p>
</div>
{% endblock %}
