<!-- includes common elements like the <head>, navigation bar, and optional footer that are shared across multiple pages. -->

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <title></title>
    {% block head %} 
    {% endblock %}
    </head>
    <body>
    <header>
        <div class="header-logo-container">
        <a href="/">
            <img src="" alt="PlatePick Logo" />
        </a>
        </div>
        <nav>
            <ul>
              {% if user.is_authenticated %}
              <li><a href="{% url 'destination-list' %}">All Destinations</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit">Log out</button>
                </form>
              </li>
            {% else %}
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'landing_page' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}            
            </ul>
          </nav>
        <!-- <nav>
        <ul>
            {% block navigation %}
            <li><a href="{% url 'platepick-create' %}">Add a Destination</a></li>
            {% endblock %}

            {% block home %}
            <li><a href="{% url 'landing_page' %}">Back to Home Page</a></li>
            {% endblock %}

            {% block about %}
            <li><a href="{% url 'about' %}">About</a></li>
            {% endblock %}
        </ul>
        </nav> -->
    </header>
    <main>
        {% block content %} 
        {% endblock %}
        </main>
    </body>
</html>
    